<div class="center jumbotron">
  <h1>welcome to Bookers !!</h1>
  <h2>In Bookers,</h2>
  <h2>you can share and exchange your opinions , inpressions , and emotions</h2>
  <h2>about various books!</h2>
<div class ="homebotron">
  <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary" %></br>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
</div>